<div id="item1-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Тренажерный зал площадью 650м<sup>2</sup> с уникальной системой тренировочных программ <b>Aqua Юна Life Energy Systems</b> оснащен оборудованием ведущих мировых производителей — HOIST, ICARIAN, FLEX, HAMMER.
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item2-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Водные программы
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item3-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Женская студия
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item4-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Бойцовский клуб
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item5-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Активный отдых
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item6-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Йога, пилатес
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item7-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Spa салон
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>

<div id="item8-dialog" class="items-dialog zoom-anim-dialog mfp-hide skew">
  <div class="card-description">
    Персональный тренинг
  </div>
  <h1>Успей забронировать карту на выгодных условиях</h1>
  <form action="form.php" method='post' class="form">
    <div class='form-label'>
      <input type="text" placeholder='ВАШЕ ИМЯ' name='name' class="form-input inp-text" required="required">
    </div>
    <div class='form-label'>
      <input type="tel" placeholder='+7(___) ___-__-__' name='tel' class="form-input inp-text" required="required">
    </div>
    <input type="hidden" name='input_type'>
    <input type="submit" class="form-submit inp-submit" value='Забронировать'>
  </form>
</div>