@media screen and (max-width 1680px)
  .header:before
    left -90px
  .header:after
    right -90px
@media screen and (max-width 1440px)
  .header:before
    left -200px
  .header:after
    right -200px
  .order-bg
    width 180%
    left -40% !important
@media screen and (max-width 1366px)
  .header .contacts .tel
    margin-bottom 5px
    text-align right
    padding-right 15px
  .header .contacts .tel a
    font-size 24px
  .header .contacts .callback a
    height 35px
    line-height 30px
    width auto
    padding-left 15px
    padding-right 15px
    span
      font-size 24px
      line-height 24px
  .gallery .owl-nav .owl-prev
    left 0
  .gallery .owl-nav .owl-next
    right 0
  .leaves
    display none
  .header:after
    right -235px
  .header:before
    left -225px
  .header-bg
    width 120%
    left -10% !important
@media screen and (max-width 1250px)
  .header:after,
  .header:before
    display none
  .header-bg
    width 140%
    left -20% !important
@media screen and (max-width 1024px)
  .header-bg
    width 180%
    left -50% !important
@media screen and (min-width 1920px)
  .header-bg img,
  .order-bg img
    width 100%
  .shorty:before
    height 135px
    top -70px
  .header .reserve
    bottom 70px
  .header .reserve-title
    bottom 194px
  .shorty:after {
      content: '';
      width: 100%;
      height: 125px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -55px;
      z-index: 10;
      -webkit-transform: skewY(-3deg);
      -moz-transform: skewY(-3deg);
      -ms-transform: skewY(-3deg);
      transform: skewY(-3deg);
      outline: 1px solid transparent;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .shorty .slogan{
    z-index 11
  }
  .shorty .ovh{
    top -60px
  }
  .programms{
    top -70px
  }
  .gallery{
    height 920px
  }
@media screen and (min-width 2000px)
  .header
    background-size cover !important

